* {
  margin: 0;
  padding: 0;
}

body {
  background-color: slategray;
  text-align: center;
}

.App {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  max-width: 500px;
  margin: auto;
  margin-top: 3rem;
  flex-direction: column;
  padding-bottom: 2rem;
}

header {
  text-align: center;
  margin: auto;
  padding: 2em 8rem;
  border-bottom: 1px solid grey;
}

.title {
  font-size: 32px;
  line-height: 36px;
  border-bottom: 1px solid grey;
}

.card-contact {
  width: 80%;
  margin: auto;
  padding: 12px;
  border-bottom: 1px solid grey;
  gap: 1rem;
  margin-top: 2rem;
}

.photo {
  width: 15%;
  border-radius: 100%;
  border: 2px solid indigo;
  float: left;
  margin-right: 24px;
}

.name {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.phone,
.email {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  color: darkslategray;
}
